.selectedProduct{
    object-fit: contain;
    height: 150px;
    width: 100%;
}
.carttext{
    font-size: 1.1rem;
    color: green;
}
.tick{
    object-fit: contain;
    height: 20px;
    width: 20px;
}
.title{
   font-size: 1.3rem;
   color: rgb(252, 52, 2);
   margin-top: 7px;
}
.cartprice{
   font-size: 1.5rem;
   color: rgb(2, 2, 80);
   margin-top: 20px;
}
