.footer{
    background-color: #000;
}
.columns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listheading{
        color: #b9b3b3;
}
.list{
    color: #b9b3b3;
    list-style-type: none;
    font-size: 12px;
}
.footerIcons{
    object-fit: contain;
    height: 20px;
    padding-right: 5px;
}
.copyright{
    background-color: rgb(36, 35, 35);
    color: #b9b3b3;
    text-align: center;
    font-size: 11px;
}