.productImage{
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.paragraph{
    line-height: 1.2;
    color: #757575;
    text-align: justify;  
    padding: 5px;       
}
.title{
    color: rgb(2, 2, 80);
    text-align: center;
}
.rate{
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  font-size: 0.9rem;
  color: #31363f;
}
.price{
   font-size: 1.5rem;
   color: rgb(2, 2, 80);
   margin-top: 6px;
}
.center{
    text-align: center;
    
}
.description{
    line-height: 1.3;
    color: #757575;
    text-align: justify;         
    text-justify: inter-word; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    font-size: 13px;
}